<div class="content">
<div class="container">
<section class="output"><span>{{result}}</span></section>
<table>

<tr>
  <td   (click)="getAction(item)"  *ngFor="let item of['+','-','*','/'] ">{{item}}</td>

</tr>

<tr>
  <td (click)="getAction(item)" *ngFor="let item of[7,8,9] ">{{item}}</td>
  <td rowspan="4" class="equal" (click)="equal()">= </td>
</tr>

<tr>
  <td   (click)="getAction(item)" *ngFor="let item of[6,5,4] ">{{item}}</td>
  
</tr>
<tr>
  <td  (click)="getAction(item)"  *ngFor="let item of[3,2,1] ">{{item}}</td>
  
</tr>

<tr>
  <td  (click)="getAction(item)"  *ngFor="let item of[0,'.'] ">{{item}}</td>
  <td class="reset" (click)=  "reset()">AC </td>
</tr>

</table>

</div>
</div>